@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-container {
  display: flex;
  flex-direction: column;
}

section {
  padding: 5rem 10rem;
  border-bottom: 1px solid #eee;
}

img.big-burd {
  width: 100px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}
