@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-weight: 100;
}

.example-container {
  display: flex;
  flex-direction: column;
}

section {
  padding: 5rem 10rem;
  border-bottom: 1px solid #eee;
}

img.big-burd {
  width: 350px;
  float: left;
  border-radius: 50%;
  padding: 3px;
  border:1px solid lightgray;
}

.example-container {
  position: relative;
  flex-direction: column;
  overflow: auto;
}

img {
  border: 1px solid lightgrey;
  border-radius: 50%;
  margin-right: 10px;
  padding: 5px;
}

.mat-list-item {
  margin: 10px;
  display: inline-block !important;
}

.circle img {
  padding: 10px;
  height: 50px;
  display: inline-block;
  border: 1px solid lightgrey;
  border-radius: 50%;
}

.example-container .edit {
  color: lightgray;
  position: absolute;
  top: 0;
  right: 0;
}

.example-container>* {
  width: 100%;
}
