<h3> Edit user information </h3>
<div class="example-container">

  <mat-form-field>
    <input matInput [value]="firstname" placeholder="Firstname">
  </mat-form-field>

  <mat-form-field>
    <input matInput [value]="lastname" placeholder="Lastname">
  </mat-form-field>

  <mat-form-field>
    <input matInput [value]="address" placeholder="Address">
  </mat-form-field>

  <mat-form-field>
    <input matInput [value]="date" (change)="setNewValue($event.value)" placeholder="date">
  </mat-form-field>

  <button mat-button [mat-dialog-close]="true">Yes</button>

</div>
