<div class="example-container">

  <img class="big-burd" src="https://cdn.shopify.com/s/files/1/1291/5963/products/B00GSYZTUI.01-A2PJJEAW2GV0DY.MAIN._SS1000_SCRMZZZZZZZ_large.jpeg?v=1466143362"
  />

  <mat-list role="list">
    <mat-list-item role="listitem"> Firstname: John </mat-list-item>
    <mat-list-item role="listitem"> Lastname: Doe </mat-list-item>
    <mat-list-item role="listitem"> Address: Rembrandtplein 123, 1017 CT Amsterdam </mat-list-item>
    <mat-list-item role="listitem"> City: Amsterdam </mat-list-item>
  </mat-list>

</div>
