<div class="example-container">

  <img class="big-burd" src="https://cdn.shopify.com/s/files/1/1291/5963/products/B00GSYZTUI.01-A2PJJEAW2GV0DY.MAIN._SS1000_SCRMZZZZZZZ_large.jpeg?v=1466143362"
  />

  <mat-list role="list">
    <button mat-button (click)="openDialog()">
      <mat-icon> edit </mat-icon>
    </button>
    <mat-list-item role="listitem"> Firstname: Big </mat-list-item>
    <mat-list-item role="listitem"> Lastname: Bird </mat-list-item>
    <mat-list-item role="listitem"> Address: Sesame Street </mat-list-item>
    <mat-list-item role="listitem"> City: Manhatten </mat-list-item>
  </mat-list>

</div>
